body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f4f4;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #f2f2f2;
}

.hero-text h1 {
    font-size: 60px;
    color: #0096d6;
}

.hero-text span {
    color: #000;
}

.hero-form {
    background: #fff;
    padding: 25px;
    width: 300px;
    box-shadow: 0 0 10px #aaa;
}

.hero-form input, .hero-form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.btn {
    background: #f2c200;
    padding: 12px 20px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.admin-btn {
    background: #333;
    color: #fff;
}

.courses {
    background: #f2c200;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    padding: 25px;
    width: 350px;
    box-shadow: 0 0 10px #aaa;
}

.dashboard a {
    display: block;
    margin: 15px auto;
    width: 300px;
    padding: 15px;
    background: #0096d6;
    color: white;
    text-align: center;
    text-decoration: none;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background: #fff;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
}

.approve { background: green; color: white; }
.reject { background: red; color: white; }

.pending { color: orange; }
.approved { color: green; }
